<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/style.css' now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="nav">
        <div class="space">
        </div>
        <div class = "navButtons">
        <button onClick="window.location.href='/';">
            Home
        </button>
        <button onClick="window.location.href='/collection';">
            Collection
        </button>
        
    </div>
    </section>
    
    <main>
        <h1>News</h1>
    
    <h2>Ordered preorders<h2>
    {% for preorder in preordery %}
    <div class="album">
        <div class="id">
            <div class="img" style="background-image: url('{{ plyta.zdjecie }}');"></div>
            <h2>{{ plyta.tytul }}
            </h2>
            <h2>{{ plyta.artysta }}</h2>
            <h3>{{ plyta.nosnik }}</h3>
            <h3>{{ plyta.data }}</h3>
        </div>
    </div>
{% empty %}
    <p>There is no ordered preorders</p>


    <div class="add">
        <a href="{% url 'add_preorder' %}">Add preorder</a>
        </div>
{% endfor %}
</main>
    <footer>
        <p>Dominik Stasiak MusicX 2023</p>
    </footer>
</body>
</html>