<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'collection/style.css' now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="nav">
        <div class="space">
        </div>
        <div class = "navButtons">
        <button onClick="window.location.href='/';">
            Home
        </button>
        <button onClick="window.location.href='/news';">
            News
        </button>
    </div>
    </section>
    
    <main>
            <h1> Collection </h1>
                <button id="filtrujButton">Filtruj</button>
                <select id="filtrNosnik">
                    <option value="cd">CD</option>
                    <option value="vinyl">Vinyl</option>
                </select>

        <div class="container">

            <div class="example">
                <div class="a">
                    <div class="img">
                    </div>
                    <h2>Animals</h2>
                    <h2>--Pink Floyd--</h2>
                    <h3>Vinyl</h3>
                    <h3>2023</h3>
                </div>
            </div>

            <div class="example">
                <div class="b">
                    <div class="img">
                    </div>
                    <h2>AM</h2>
                    <h2>--Arctic Monkeys--</h2>
                    <h3>Vinyl</h3>
                    <h3>2023</h3>
                </div>
            </div>

            <div class="example">
                <div class="c">
                    <div class="img">
                    </div>
                    <h2>1-800-oświecenie</h2>
                    <h2>--Taco Hemingway--</h2>
                    <h3>CD</h3>
                    <h3>2023</h3>
                </div>
            </div>


            <div class="example">
                <div class="d">
                    <div class="img">
                    </div>
                    <h2>Wojny i noce</h2>
                    <h2>--Daria Zawiałow--</h2>
                    <h3>CD</h3>
                    <h3>2021</h3>
                </div>
            </div>
        </div>
    </mains>



    <footer>
        <p>Dominik Stasiak MusicX 2023</p>
    </footer>
</body>
</html>
<script src="{% static '/collection/script.js' %}"></script>     