<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'collection/style.css' now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="nav">
        <div class="space">
        </div>
        <div class = "navButtons">
        <button onClick="window.location.href='/';">
            Home
        </button>
        <button onClick="window.location.href='/news';">
            News
        </button>
    </div>
    </section>
    
    <section class="main">
    </section>


    <footer>
        <p>Dominik Stasiak MusicX 2023</p>
    </footer>
</body>
</html>