<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>MusicX</h1>
        <h2>Place for my muisc</h2>
        <div class="buttons">
            <button>Collection</button>
            <button>News</button>
        </div>
    
    </div>
</body>
</html>