<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index/style.css' now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>MusicX</h1>
        <h2>Place for my music</h2>
        <div class="buttons">
            <button onClick="window.location.href='/collection';">Collection</button>
            <button onClick="window.location.href='/news';">News</button>
        </div>
    
    </div>
</body>
</html>