* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
        min-height: 100vh;
    }



.nav {
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space {
    width: 75%;
}

.navButtons {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

.nav button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
    border: 4px solid white;
    min-width: 30%;
    border-radius: 25px;
}
    
.nav button:hover {
    background-color: #fff;
    color: #111;
}

main {
    position: absolute;
    min-height: 100vh; 
    background-color: grey;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main h1 {
    margin : 1%;
    font-size: 40px;
    color: white;
    text-align: center;
    font-style: italic;
    height: 10vh;
    width: 100%;
}


.container {
    margin: 1% 2%;
    margin-bottom: 1%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-grow: 1; 
}

.example {
    background-color: #111;
    width: 400px;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.example .img {
    background-size: cover;
    height: 230px;
    width: 230px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
    border: 4px solid white;
    width: 200px;
    height: 80px;
    border-radius: 25px;
}
.add a {
    text-decoration: none;
    color: #111;
}
    
.add:hover {
    background-color: #fff;
    color: #111;
}

footer {
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100vw;
    text-align: center;
    color: whitesmoke;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

